.form{
    float: left;
    margin-right: 70px
}

td{
    width: 100%;
    border: 1px solid;
    
}

table{
    float: left;
    width: 30%;
    border: 1px solid;


}

.background {
    background: rgb(81,11,125);
    background: linear-gradient(90deg, rgba(81,11,125,1) 0%, rgba(155,34,198,1) 47%, rgba(0,212,255,1) 100%);
    color: white;
}

.center{
    text-align: center;
}

